[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/pugixml"]
	path = external/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "external/PicoSHA2"]
	path = external/PicoSHA2
	url = https://github.com/okdshin/PicoSHA2.git
[submodule "external/replxx"]
	path = external/replxx
	url = https://github.com/AmokHuginnsson/replxx.git
[submodule "external/rapidcsv"]
	path = external/rapidcsv
	url = https://github.com/d99kris/rapidcsv.git
